#mainDiv {
	margin-top: 30px;

}

#MainTable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 1px;
}

#MainTable td {
    border: none;
    width: 7px;
    height: 7px;
}

div.caption {
	text-align: center;
	color: #AAA;
}

#settingDiv {
	width: 300px;
	height: 220px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: small;
	margin: 0px;
}
#settingDiv ul {
	margin-top: 30px;
}
#settingDiv li {
	list-style-type: none;
}

#buttonDiv {
	margin-top: 10px;
	margin-left: 10px;
}

#progress {
	margin-left: 5px;
	margin-right: 20px;
	padding: 5px;
	border: solid 1px #CCC;
	border-radius: 5px;
}

.param {
	width: 50px;
}

div#realTimeChartDiv {
	margin: 0px;
	border: solid 1px #DDD;
	overflow: scroll;
}

div[id^="realTimeChField"],
div[id^="realTimeChLabel"] {
	border-top: solid 1px #DDD;
}

div#histogramChartDiv {
	margin: 0px;
	width: 300px;
	height: 220px;
	border: solid 1px #DDD;
	font-size: 12px;
}

div#histogramChartDiv div.graphValuehistogramChartDiv {
	color: #CCC;
}